@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.btn1{
    width: 50%;
    margin-left: 20%
}
.xd{
    width: 80rem;
    height: 15rem;
}
.nd{
    font-size: 2rem;
}
.ds{
    width: 60%;
}
.ps{
    font-size: 3rem;
}